:root {
    --text-one-color: #AAA;
    --text-two-color: #333;
    --dark-gray-color: #1A1A1A;
    --blue-color: #49A8E4;
    --border-color: #D9D9D9;

    --height-header: 100px;
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}